.btn-detail-1 {
    border: 1px solid black;
    padding: 5px 10px;

    font-weight: bold;
    border-radius: 5px;
}
.btn-detail-2 {
    border: 1px solid black;
    padding: 5px 10px;

    font-weight: bold;
    border-radius: 5px;
}
.btn-detail-1:hover {
    background: black;
    color: white;
}
.btn-detail-2:hover {
    background: black;
    color: white;
}
