.navabar {
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 17%;
}
.logo {
    display: flex;
    margin: 10px;
    justify-content: center;
}
.logo a {
    text-decoration: none;
    color: white;
    font-family: "Sigmar One", cursive;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.links ul li {
    margin-top: 50px;
    list-style: none;
}
.links ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.links ul li a:hover {
    color: whitesmoke;
}
.active_links {
    color: whitesmoke !important;
    background: blue;
    height: 3rem;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    width: 13rem;
    font-weight: 700;
}
.close-menu {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: none;
}
.icon-nvarbar {
    font-size: 17px;
    margin-right: 10px;
}
@media (max-width: 720px) {
    .navabar {
        position: absolute;
        left: -100%;
    }
    .close-menu {
        display: block;
    }
}
