.App {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-page {
  flex: 10;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
.button-search:hover {
  background: black;
  color: white;
  font-weight: bold;
}
.button__status {
  padding: 4px;
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
}
