.App {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.main-page {
  flex: 10;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
.button-search:hover {
  background: black;
  color: white;
  font-weight: bold;
}
.button__status {
  padding: 4px;
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
}
.nav-tabs {
  border-bottom: unset !important;
}
.nav-link {
  font-size: 15px;
  font-weight: bold;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: unset !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.modal {
  background: #0008;
  overflow: scroll !important;
}
.modal-dialog {
  max-width: 750px !important;
}
